.summary-card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: var(--surface-200) !important;
  border: 1px solid var(--surface-300);
  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-color: var(--primary-300);
  }
}

.header-icon-wrap {
  background-color: color-mix(in srgb, var(--primary-100), transparent 90%);
  color: var(--primary-500);
}

.summary-title {
  color: var(--neutral-900);
}

.income-icon-wrap {
  background-color: color-mix(in srgb, var(--success-100), transparent 90%);
  color: var(--success-600);
}

.expense-icon-wrap {
  background-color: color-mix(in srgb, var(--error-100), transparent 90%);
  color: var(--error-600);
}

::ng-deep {
  .mat-mdc-card {
    transition: inherit;
  }
}

.percentage-change {
  background-color: var(--surface-200);
  padding: 2px 8px;
  border-radius: 9999px;
}
