<div
  class="px-4 py-4 pb-2  rounded-2xl max-w-[90%] sm:max-w-[100%] text-sm sm:text-base bg-gray-100 text-gray-800 rounded-bl-md bg-white"
  style="-webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text;">


  <div class="chat-category-dropdown">
    <div class="mb-2">
      <p class="font-bold text-gray-700 text-sm sm:text-base">{{placeholder}}</p>
    </div>
    <div class="chat-controls" role="group" aria-label="Select category">
      <!-- Category Chips -->
      <div class="flex flex-wrap gap-4 max-h-[200px] overflow-y-auto py-2">
        <mat-chip-option *ngFor="let category of categories" [disabled]="isDisabled" (click)="onChange(category)"
          [class.selected-chip]="currentCategory?.id === category.id" class="category-chip">
          <div class="flex items-center gap-2">
            <div class="chip-avatar">
              <mat-icon>{{category?.icon}}</mat-icon>
            </div>
            <span class="chip-label">{{category?.name}}</span>
          </div>
        </mat-chip-option>
      </div>
    </div>
  </div>
</div>