@use '@angular/material' as mat;
@use '../../../styles/light-theme' as light;
@use '../../../styles/dark-theme' as dark;

.dashboard-wrapper {
  :host-context(.light-theme) & {
    background-color: mat.get-theme-color(light.$light-theme, neutral, 98);
    color: mat.get-theme-color(light.$light-theme, neutral, 10);
  }
  
  :host-context(.dark-theme) & {
    background-color: mat.get-theme-color(dark.$dark-theme, primary, 0);
    color: mat.get-theme-color(dark.$dark-theme, primary, 100);
  }
}

.main-content {
  :host-context(.light-theme) & {
    background-color: mat.get-theme-color(light.$light-theme, neutral, 98);
  }
  
  :host-context(.dark-theme) & {
    background-color: mat.get-theme-color(dark.$dark-theme, primary, 0);
  }
}

.dashboard-header, .dashboard-footer {
  display: block;
  :host-context(.dark-theme) & {
    background-color: mat.get-theme-color(dark.$dark-theme, primary, 0);
  }
}

.dashboard-container {
  :host-context(.dark-theme) & {
    background-color: mat.get-theme-color(dark.$dark-theme, primary, 0);
  }
}
