@use '@angular/material' as mat;
@use '../../../styles/light-theme' as light;
@use '../../../styles/dark-theme' as dark;

.dashboard-wrapper {
  background-color: var(--surface-200);
  color: var(--neutral-900);
}

.main-content {
  background-color: var(--surface-200);
}

.dashboard-header, .dashboard-footer {
  display: block;
  background-color: var(--surface-100);
}

.dashboard-container {
  background-color: var(--surface-100);
}
