<!-- <section class="summary-section mb-4">
    <app-category-summary-card></app-category-summary-card>
</section> -->
<!-- Mat tab -->
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mr-2">category</mat-icon>
            Category
        </ng-template>
        <section class="pt-2">
            <user-category></user-category>
        </section>
    </mat-tab>

    <mat-tab label="Accounts">
        <ng-template mat-tab-label>
            <mat-icon class="mr-2">account_balance</mat-icon>
            Accounts
        </ng-template>
        <ng-template matTabContent>
            <section class="pt-2">
                <user-accounts></user-accounts>
            </section>
        </ng-template>
    </mat-tab>

    <!-- report -->
    <mat-tab label="Report">
        <ng-template mat-tab-label>
            <mat-icon class="mr-2">analytics</mat-icon>
            Report
        </ng-template>
        <ng-template matTabContent>
            <section class="pt-2">
                <app-reports></app-reports>
            </section>
        </ng-template>
    </mat-tab>
</mat-tab-group>