@if (!isOnline && !isGuest) {
  <div class="fixed top-3 left-12 z-50" [@slideDown]>
    <div class="flex items-center space-x-2 bg-gray-800 bg-opacity-50 rounded-full px-3 py-1 shadow-lg">
      <div class="w-2 h-2 bg-teal-400 rounded-full"></div>
      <span class="text-white text-xs font-medium">Offline Mode</span>
    </div>
  </div>
}

@if (showOnlineBanner) {
  <div class="fixed top-3 left-12 z-50" [@slideDown]>
    <div class="flex items-center space-x-2 bg-green-500 bg-opacity-90 rounded-full px-3 py-1 shadow-lg">
      <div class="w-2 h-2 bg-white rounded-full"></div>
      <span class="text-white text-sm font-medium">Connected</span>
    </div>
  </div>
}