<div class="confirm-dialog">
  <div class="dialog-header">
    @if (data.icon) {
      <div class="hero-icon-badge"
           [class.badge-delete]="data.type === 'delete'"
           [class.badge-warning]="data.type === 'warning'"
           [class.badge-info]="data.type === 'info'">
        <mat-icon>{{ data.icon }}</mat-icon>
      </div>
    } @else {
      <mat-icon class="dialog-icon" [class.delete]="data.type === 'delete'">
        {{ data.type === 'delete' ? 'delete_forever' : 'warning' }}
      </mat-icon>
    }
    <h2 class="dialog-title">{{ data.title }}</h2>
  </div>
  
  <div class="dialog-content">
    <p class="dialog-message">{{ data.message }}</p>
  </div>
  
  <div class="dialog-actions">
    <button mat-button 
            type="button"
            [mat-dialog-close]="false"
            class="cancel-button">
      {{ data.cancelText }}
    </button>
    <button mat-raised-button 
            type="button"
            [color]="data.confirmColor"
            [mat-dialog-close]="true"
            class="confirm-button">
      {{ data.confirmText }}
    </button>
  </div>
</div> 