:host {
  display: block;
  height: 100%;
}

.fade-in {
  animation: fadeIn 0.6s ease-out forwards;
  opacity: 0;
  transform: translateY(6px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-wrapper {
  :host-context(.light-theme) & {
    background-color: white;
    color: #1f2937; // gray-800
  }
  
  :host-context(.dark-theme) & {
    background-color: #020617; // Very dark slate
    color: #f1f5f9; // slate-100
  }
}

/* typing dots loader */
.typing-dots {
  display: flex;
  gap: 5px;
  align-items: center;
  
  span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
    
    :host-context(.light-theme) & {
      background: gray;
    }
    
    :host-context(.dark-theme) & {
      background: #475569; // slate-500
    }
  }
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}

/* top card slide up */
.animate-fadeUp {
  animation: fadeUp 0.7s ease-out forwards;
  opacity: 0;
  transform: translateY(10px);
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}